<div class="view" id ="header">
   <img class="img-fluid" id="photo" src="../assets/images/cove.jpg" width="100%">

     <div class="mask flex-center text-center rgba-grey-dark">
      <h1 class=" white-text text-fluid animated slideInDown">Keith Nguyen  | </h1>
      <h1 class=" white-text text-fluid animated slideInUp"> Software Developer</h1>
    </div>
    <!-- <div class="mask flex-center">
      <h3 class="white-text text-fluid text-center animated fadeIn" id="quote">"The only way to do great work is to love what you do" -- Steve Jobs</h3>
    </div> -->
  </div>
  <app-footer2></app-footer2>



