
<header>
  <div class="view">
   <img class="img-fluid" src="../assets/images/banner.jpg" width="100%">
   <div class="mask flex-center rgba-grey-light text-center">
      <h2 class="white-text text-fluid animated fadeIn" data-wow-duration="0.9s">"Passion lies at the intersection of creativity and curiosity"</h2>
  </div>
</div>
</header>

<!-- side Image -->
<div class="row m-5 animated fadeIn" data-wow-duration="0.9s">
<div class="col-md-3 col-lg-3">
<img class="img-fluid rounded-circle" src="../assets/images/keith.jpg">
<p class="grey-text font-italic">I am a software developer who is very passionate about creating products that solve real world problems. I thrive working in a dynamic team environment that promotes growth, teamwork, and development.</p>
</div>
<!-- end of side image -->

<!-- my story section -->
<div class="col-md-8 grey-text">
     <h1>My Silicon Valley Story</h1>
    <p>My journey into software development began at a very young age. My family settled into Silicon Valley and was part of the tech revolution after we were displaced during the Vietnam War. My father worked as a engineer and my mom a technician for a bio medical company. Like many families we struggled to adjust culturally and economically but worked hard everyday to make a better life for ourselves here.</p>
    <p>My dad taught me from a young age to build, tinker and play with computers. Our first computer was a pentium x486 built by hand before it became more economically prudent to buy computers prepackaged through large companies like dell.</p>
    <p>From a very young age I always enjoy tinkering with new technology, sometimes breaking them to find out how it works and putting them back together. Needless to say this became an expensive hobby, but "that" curiosity never left me, It is part of who I am. Love me or hate me, i break things to learn, but always strive to make them better!
    </p>
    <p>Many years later coding has become an off shoot from my creativity.  Integrating  design, User Interfaces, and code into a working product that others can use drives me everyday. I love the feeling of delivering a finish product to a client. It feels great to see a plan come together. Let's build something!</p>
  </div>
  <!-- end of my story section -->

<!--Card group-->
<div class="card-deck m-4">

  <!--Card-->
  <div class="card mb-4">

      <!--Card image-->
      <div class="view overlay">
          <img class="img-fluid" src="../assets/images/sjchall.jpg" alt="Card image cap">
          <a href="#!">
              <div class="mask rgba-white-slight"></div>
          </a>
      </div>
      <!--Card image-->

      <!--Card content-->
      <div class="card-body">

          <!--Title-->
          <h4 class="card-title">Leadership and Community Service</h4>
          <p>“To give real service you must add something which cannot be bought or measured with money, and that is sincerity and integrity.”- Douglas Adams</p>
            <ul class="card-text">
              <li>Former Trustee Franklin McKinley Board of Directors</li>
              <li>Former National School Board Association Member</li>
              <li>Former California School Board Association Member</li>
              <li>Member of Bay Area Legislative Staffers Association</li>
              <li>Board of Directors Vietnamese Youth Development Center </li>
            </ul>
      </div>
      <!--Card content-->
  </div>
  <!--Card-->

  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
        <img class="img-fluid" src="../assets/images/scrum.png" alt="SCRUM Image">
        <a href="#!">
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>
    <!--Card image-->

    <!--Card content-->
    <div class="card-body">

        <!--Title-->
        <h4 class="card-title">SCRUM and Agile Trained </h4>
        <p>Scrum is a framework within which people can address complex adaptive problems, while productively and creatively delivering products of the highest possible value.</p>
          <ul class="card-text">
            <li>Daily Stand Ups</li>
            <li>Backlog Sprints</li>
            <li>Sprint Reviews</li>
            <li>Sprint Retrospectives </li>
          </ul>
    </div>
    <!--Card content-->
</div>


<!-- <div class="card card-image mb-3 gba-grey-light" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/images/89.jpg);background-position:center; background-size: cover;background-repeat: no-repeat;">

   
    <div class="black-text text-center d-flex align-items-center animated fadeIn" id="SCRUM">
        <div>
            <h3 class="card-title pt-2 white-text"><strong>SCRUM and Agile Trained</strong></h3>
            <p class="card-text white-text">Scrum is a framework within which people can address complex adaptive problems, while productively and creatively delivering products of the highest possible value.</p>
        </div>
    </div>
  
</div> -->
<!-- Card -->
</div>
<!--Card group-->
<app-footer></app-footer>
