
<header>
  <div class="view">
   <img class="img-fluid" src="../assets/images/banner.jpg" width="100%">
   <div class="mask flex-center rgba-grey-light text-center">
      <h2 class="white-text text-fluid animated fadeIn" data-wow-duration="0.9s">"Passion lies at the intersection of creativity and curiosity"</h2>
  </div>
</div>
</header>

<div class="row m-5 animated fadeIn" data-wow-duration="0.9s">
<div class="col-md-3 col-lg-3">
<img class="img-fluid rounded-circle" src="../assets/images/keith.jpg">
</div>
<div class="col-md-8 grey-text">
    <h1>Software Developer</h1>
    <p>I am a software developer who is very passionate about creating products that solve real world problems. I am well rounded, internally movitated , results driven, and goal oriented. I thrive working in a dynamic team environment that promotes growth, teamwork, and development.</p>
    <p>I’ve always had a drive to create new things. Innovation lives in my blood. From a very young age I always tinkered with new technology, sometimes breaking them to find out how it works and putting them back together. Needless to say this became an expensive hobby, but that curiosity never left me, It is part of who I am. 
    </p>
    <p>I got into coding as an off shoot from my creativity.  Integrating  design, User Interfaces, and code into a working product that others can use drives me everyday. I love the feeling of delivering a finish product to a client. Let's work on something today! </p>
  </div>

  <!-- <div class="col-md-4">
    <h1>My Passion for Coding and Design</h1>
    <p class="grey-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut laborum est corrupti doloribus voluptate quasi quibusdam, expedita ab qui, reprehenderit excepturi? Odit ad eos, nulla quaerat illum nobis quas earum.</p>
    <p class="grey-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut laborum est corrupti doloribus voluptate quasi quibusdam, expedita ab qui, reprehenderit excepturi? Odit ad eos, nulla quaerat illum nobis quas earum.</p>
  </div>
</div> -->
<hr>

<!--Card group-->
<div class="card-deck m-4">

  <!--Card-->
  <div class="card mb-4">

      <!--Card image-->
      <div class="view overlay">
          <img class="img-fluid" src="../assets/images/sjchall.jpg" alt="Card image cap">
          <a href="#!">
              <div class="mask rgba-white-slight"></div>
          </a>
      </div>
      <!--Card image-->

      <!--Card content-->
      <div class="card-body">

          <!--Title-->
          <h4 class="card-title">Leadership and Community Service</h4>
          <p>“To give real service you must add something which cannot be bought or measured with money, and that is sincerity and integrity.”- Douglas Adams</p>
            <ul class="card-text">
              <li>Former Trustee Franklin McKinley Board of Directors</li>
              <li>Former National School Board Association Member</li>
              <li>Former California School Board Association Member</li>
              <li>Member of Bay Area Legislative Staffers Association</li>
              <li>Board of Directors Vietnamese Youth Development Center </li>
            </ul>
      

          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <!-- <button type="button" class="btn btn-light-blue btn-md" data-toggle="collapse" href="test">Read more</button> -->
      </div>
      <!--Card content-->

  </div>
  <!--Card-->

    <!-- Card -->
<div class="card card-image mb-3 gba-grey-light" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/images/89.jpg);background-position:center; background-size: cover;background-repeat: no-repeat;">

    <!-- Content -->
    <div class="black-text text-center d-flex align-items-center animated fadeIn" id="marketing">
        <div>
            <h3 class="card-title pt-2 grey-text"><strong>This is card title</strong></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                Odit sed qui, dolorum!.</p>
            <a class="btn btn-light-blue btn-md"><i class="fa fa-clone left"></i> View project</a>
        </div>
    </div>
    <!-- Content -->
</div>
<!-- Card -->
</div>
<!--Card group-->
<app-footer></app-footer>
