
<header>
  <div class="view">
   <img class="img-fluid" src="../assets/images/banner.jpg" width="100%">
   <div class="mask flex-center rgba-grey-light text-center">
      <h2 class="white-text text-fluid animated fadeIn">"Passion lies at the intersection of creativity and curiosity"</h2>
  </div>
</div>
</header>

<div class="row m-5 animated fadeIn">
<div class="col-md-2">
<img class="img-fluid rounded-circle" src="../assets/images/keith.jpg">
</div>
<div class="col-md-6">
    <h1>Software Developer</h1>
    <p class="text-justify grey-text" >I am a software developer who is very passionate about creating products that solve real world problems. I am well rounded, self-motivated, results-driven, and goal oriented. I thrive working in a dynamic team environment that promotes growth, teamwork, and development. My objective is to consistently learn and grow as a developer while adding value to any company and team that I join.</p>
    <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nemo itaque culpa eveniet hic suscipit ea modi consectetur rerum optio at repellendus esse tempora eligendi reprehenderit, porro, adipisci quas quisquam?"</p>
  </div>

   <!-- <div class="col-md-8" >
      <iframe width="600" height="500" class="embed-responsive embed-responsive-16by9"
      src="https://www.youtube.com/embed/tgbNymZ7vqY">
      </iframe>
  </div> -->


  <div class="col-md-4">
    <h1>My Passion for Coding and Design</h1>
    <p class="text-justify grey-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut laborum est corrupti doloribus voluptate quasi quibusdam, expedita ab qui, reprehenderit excepturi? Odit ad eos, nulla quaerat illum nobis quas earum.</p>
    <p class="text-justify grey-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut laborum est corrupti doloribus voluptate quasi quibusdam, expedita ab qui, reprehenderit excepturi? Odit ad eos, nulla quaerat illum nobis quas earum.</p>
    <p class="text-justify grey-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut laborum est corrupti doloribus voluptate quasi quibusdam, expedita ab qui, reprehenderit excepturi? Odit ad eos, nulla quaerat illum nobis quas earum.</p>
  </div>
</div>
<hr>

<!--Card group-->
<div class="card-deck m-4">

  <!--Card-->
  <div class="card mb-4">

      <!--Card image-->
      <div class="view overlay">
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg" alt="Card image cap">
          <a href="#!">
              <div class="mask rgba-white-slight"></div>
          </a>
      </div>
      <!--Card image-->

      <!--Card content-->
      <div class="card-body">

          <!--Title-->
          <h4 class="card-title">Leadership and Management</h4>
            <ul class="card-text">
              <li>Former Trustee Franklin McKinley Board of Directors</li>
              <li>Former National School Board Association Member</li>
              <li>Former California School Board Association Member</li>
              <li>Member of Bay Area Legislative Staffers Association</li>
              <li>Board of Directors Vietnamese Youth Development Center </li>
            </ul>
      

          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" class="btn btn-light-blue btn-md">Read more</button>
      </div>
      <!--Card content-->

  </div>
  <!--Card-->

  <!--Card-->
  <div class="card mb-4">

      <!--Card image-->
      <div class="view overlay">
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg" alt="Card image cap">
          <a href="#!">
              <div class="mask rgba-white-slight"></div>
          </a>
      </div>
      <!--Card image-->

      <!--Card content-->
      <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Coding for "GOOD"</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
  </div>

  <div class="card mb-4">

      <!--Card image-->
      <div class="view overlay">
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg" alt="Card image cap">
          <a href="#!">
              <div class="mask rgba-white-slight"></div>
          </a>
      </div>
      <!--Card image-->

      <!--Card content-->
      <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <!--Card content-->

  </div>
  <!--Card-->

</div>
<!--Card group-->

<app-footer></app-footer>
