

<div id="projects">
	<h1 class="grey-text text-center">Projects</h1>
</div>


<section class="m-3 animated fadeInDown">
  <div class="row" id="cards">
          <div class="col-md-4">
              <div class="card mb-4">
                  <img class="img-fluid" src="//apps.vendini.com/i/a01959a290d87b1c64a1b97491288b5180a767c4.jpg" alt="Card image cap">
                  <div class="card-body">
                      <h4 class="card-title">SF Carnival</h4>
                      <p class="card-text">Carnaval SF is a web based application that utilizes Angular 5 front end frame work and a Ruby on Rails back end. The Project was composed of 5 developers, a SCRUM master, and a Project Owner working using the SCRUM project framework.  The team used multiple technologies such as Mapbox, Angular, ruby on rails, and bootstrap to make the app user friendly, responsive and accessible across many platforms. </p>

                      <p><a href="https://github.com/LostAnchovy/sf-carnaval-1" target="_blank">Github Repository</a></p>
                      <a class="btn btn-primary" [routerLink]= "['carnival']">project details</a>
                      
                      <!-- <a class="btn btn-primary" data-toggle="collapse" href="#collapseCarnaval" aria-expanded="false" aria-controls="collapseCarnaval">
                              project details
                      </a> -->
                      <!-- <div class="collapse" id="collapseCarnaval">
                              <div class="mt-3">
                                <p class="card-text">Carnaval SF is a web based application that utilizes Angular 5 front end frame work and a Ruby on Rails back end. The Project was composed of 5 developers, a SCRUM master, and a Project Owner working using the SCRUM project framework.  The team used multiple technologies such as Mapbox, Angular, ruby on rails, and bootstrap to make the app user friendly, responsive and accessible across many platforms. </p>
                              </div>
                          </div> -->
                  </div>
              </div>
          </div>
  
                      <div class="col-md-4 ">
                          <div class="card mb-4">
                              <img class="img-fluid" src="../assets/images/TLA.jpg" alt="Lost Anchovy Logo">
                              <div class="card-body">
                                  <h4 class="card-title">The Lost Anchovoy (IOS APP)</h4>
                                  <p class="card-text text-justify">Are you a fishing enthusiasts, a beginner, or just a dad that wants to take his kid fishing for the day? The Lost Anchovy is an application to help the average person and the experience fisherman learn learn how to catch, prepare and cook their own catch!</p> 
                                  <p class="card-text">The Lost Anchovy App is an IOS application that provides locations, recipes, navigation, and tutorials for the Northern California fishing enthusiast or beginner. It was built using UIKit, coreLocation, and Mapkit</p>
                                      
                                    <p><a href="https://github.com/LostAnchovy/lostanchovyapp" target="_blank">Github Repository</a></p>
                                    <a class="btn btn-primary" [routerLink]="['ios']">project details</a>

                                  <!-- <a class="btn btn-primary" data-toggle="collapse" href="#collapseIOS" aria-expanded="false" aria-controls="collapseIOS">
                                          project details
                                  </a> -->
                                  <!-- <div class="collapse" id="collapseIOS">
                                          <div class="mt-3">
                                              <p class="card-text">The Lost Anchovy App is an IOS application that provides locations, recipes, navigation, and tutorials for the Northern California fishing enthusiast or beginner. It was built with a team of <span class="font-weight-bold">2 developers using swift, UIKit, coreLocation, and Mapkit</span></p>
                                          </div>
                                      </div> -->
                              </div>
                          </div>
                      </div>

                      <div class="col-md-4 ">
                        <div class="card mb-4">
                            <img class="img-fluid" src="../assets/images/angular.png" alt="Angular 5 logo">
                            <div class="card-body">
                                <h4 class="card-title">Angular 5 Framework</h4>
                                <p class="card-text">The website was created utilizing the Angular 5 framework. This website integrates many different technologies like Angular 5, Bootstrap, Jquery and googles material design. The wire frame was build out using Sketch. </p>
                               
                                <p><a href="https://github.com/LostAnchovy/portfolio">Github Repository</a></p>
      
                                <a class="btn btn-primary" data-toggle="collapse" href="#collapseAngular" aria-expanded="false" aria-controls="collapseAngular">
                                  project details
                                </a>
                                <div class="collapse" id="collapseAngular">
                                        <div class="mt-3">
                                            <p class="card-text">This Portfolio page was initially designed to show case projects and work that I have done as a developer. It is my intention to continue to grow this page to incorporate a tutorial section for those wishing to learn emerging technologies and a blog section for myself.  </p>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
          </div>
             </section>
             <app-footer></app-footer>
            