<div class="row mb-3" id="header" >
    <div class="col-md-7">
        <h1>Wire Frame</h1>
        <img src ="../assets/images/IOS.png" class="img-fluid animated fadeIn">
    </div>
    <div class="col-md-5 grey-text">
        <h1 class="black-text">Project Work Flow</h1>
        <h2>Project Description</h2>
        <p>The Lost Anchovy App is an IOS application that provides locations, recipes, navigation, and tutorials for the Northern California fishing enthusiast, intermediate or beginner.</p>
        <h2>Building the Wire Frame</h2>
        <p>Our team uses Sketch to build out the wire frame for the application. The wireFrame provides us with the Visual guidelines that help us code the front, backend and logic of the application. </p>
        <h2>Coding the Project</h2>
        <p>The team used Github for version control and communicated through email, chat and designated checkin dates to follow up with the project . Each team member was assigned a different application functions to code out. When the changes where approved it was merged into the master branch.</p>
    </div>
</div>
<hr>

<div class="row m-4">
    <div class="col-md-12">
        <h1>Technologies Used</h1>
        <div class="row animated slideInLeft mb-2">
            <div class="col-md-1">
                <i class="fas fa-compass fa-3x icons"></i>
            </div>
            <div class="col-md-11">
                <p class="grey-text">mapKit is a IOS framework that allows the user to interactively use the IOS built in maps. The development team was able to annotate points of interest and naviagate the user to them.</p>
            </div>
        </div>
        <div class="row animated slideInLeft icons mb-2">
                <div class="col-md-1">
                    <i class="fas fa-map-marker-alt fa-3x"></i>
                </div>
                <div class="col-md-11">
                    <p class="grey-text">Core Location provides services for determining a device’s geographic location, altitude, orientation, or position relative to a nearby iBeacon. The framework uses all available onboard hardware, including Wi-Fi, GPS, Bluetooth, magnetometer, barometer, and cellular hardware to gather data.</p>
                </div>
            </div>
            <!-- <div class="row animated slideInLeft icons mb-2">
                <div class="col-md-1">
                    <i class="fab fa-uikit fa-3x"></i>
                </div>
                <div class="col-md-11">
                    <p class="grey-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum doloremque molestiae beatae aspernatur quia maiores excepturi ipsam quidem aperiam, recusandae, est nesciunt dignissimos labore veniam corporis repudiandae deserunt, hic pariatur.</p>
    
                </div>
            </div> -->
    </div>

    <!-- <div class="col-md-5">
        <h1>Final Project</h1> -->
        <!-- <img src ="../assets/images/iphone.png" class="image-fluid" id="Iphonephoto"> -->
        <!-- <iframe width="480" height="315" class="embed-responsive embed-responsive-16by9"
        src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
    </div> -->
<app-footer></app-footer>


