            
 <!--Section: Magazine v.2-->
 <section class="magazine-section text-center" id="testimonial">
 
  <!--Section heading-->
   <h1 class="text-center my-5">Testimonials</h1>
  
   <!--Grid row-->
  
  <div class="row text-left">
  
   <div class="col-lg-6 col-md-12">

  <div class="single-news">
    <div class="row">
    <div class="col-md-3">
   <!--Image-->
    <div class="view overlay rounded z-depth-1 mb-2">
    <img
   src="../assets/images/Dalina.jpg" class="img-fluid" alt="Danlina Minor Photo">
    <a><div class="mask rgba-white-slight"></div></a>
      </div>
    </div>
    <!--Excerpt-->
    <div class="col-md-9">
       <p class="dark-grey-text">
    <strong>Full Stack Software Developer</strong>
    </p>
   <p class="grey-text">"Duis aute irure dolor in reprehenderit in voluptate. Duis aute irure dolor in.Duis aute irure dolor in reprehenderit in voluptate. Duis aute irure dolor in" </p>
   <hr>
    </div>
    </div>
   </div>

  <div class="single-news">
    <div class="row">
    <div class="col-md-3">
   <!--Image-->
    <div class="view overlay rounded z-depth-1 mb-2">
    <img
   src="../assets/images/Cody.jpg" class="img-fluid" alt="Cody Image">
    <a><div class="mask rgba-white-slight"></div></a>
      </div>
    </div>
    <!--Excerpt-->
    <div class="col-md-9">
       <p class="dark-grey-text">
    <strong>Coverhound Software Engineer</strong>
    </p>
   <p class="grey-text">"Duis aute irure dolor in reprehenderit in voluptate. Duis aute irure dolor in.Duis aute irure dolor in reprehenderit in voluptate. Duis aute irure dolor in" </p>
   <hr>
    </div>
    </div>
   </div>

   <div class="single-news">
    <div class="row">
    <div class="col-md-3">
   <!--Image-->
    <div class="view overlay rounded z-depth-1 mb-2">
    <img
   src="../assets/images/jasper.jpg" class="img-fluid" alt="jasper minor image">
    <a><div class="mask rgba-white-slight"></div></a>
      </div>
    </div>
    <!--Excerpt-->
    <div class="col-md-9">
       <p class="dark-grey-text">
    <strong>Cisco Network Engineer</strong>
    </p>
   <p class="grey-text">"Duis aute irure dolor in reprehenderit in voluptate. Duis aute irure dolor in.Duis aute irure dolor in reprehenderit in voluptate. Duis aute irure dolor in" </p>
   <hr>
    </div>
    </div>
   </div>

   <div class="single-news">
    <div class="row">
    <div class="col-md-3">
   <!--Image-->
    <div class="view overlay rounded z-depth-1 mb-2">
    <img
   src="../assets/images/Ingred.jpg" class="img-fluid" alt="Minor sample
   post image">
    <a><div class="mask rgba-white-slight"></div></a>
      </div>
    </div>
    <!--Excerpt-->
    <div class="col-md-9">
       <p class="dark-grey-text">
    <strong>25/02/2018</strong>
    </p>
   <p class="grey-text">"Duis aute irure dolor in reprehenderit in voluptate. Duis aute irure dolor in.Duis aute irure dolor in reprehenderit in voluptate. Duis aute irure dolor in" </p>
   <hr>
    </div>
    </div>
   </div>

   </div>
   <!--Grid column-->
  
  
  <!--Grid column-->
   <div class="col-lg-6 col-md-12">
  
   <!--Small news-->
  
  <div class="single-news">
  
   <div class="row">
   <div class="col-md-3">
  
  
  <!--Image-->
   <div class="view overlay rounded z-depth-1 mb-2">
   <img
  src="../assets/images/abel.jpg" class="img-fluid" alt="Minor sample
  post image">
   <a>
   <div class="mask rgba-white-slight"></div>
   </a>
  
  </div>
   </div>

   
  
   <!--Excerpt-->
   <div class="col-md-9">
  
  <p class="dark-grey-text">
   <strong>25/02/2018</strong>
   </p>
  <p class="grey-text">"Duis aute irure dolor in reprehenderit in voluptate. Duis aute irure dolor in.Duis aute irure dolor in reprehenderit in voluptate. Duis aute irure dolor in" </p>
  <hr>

   </div>
  
   </div>
  
  </div>
   <!--/Small news-->
  
   <!--Small news-->
   <div class="single-news">
  
  
  <div class="row">
   <div class="col-md-3">
  
   <!--Image-->
  
  <div class="view overlay rounded z-depth-1 mb-2">
   <img src="../assets/images/cora.jpg"
  class="img-fluid" alt="Minor sample post image">
   <a>
   <div class="mask rgba-white-slight"></div>
  
  </a>
   </div>
   </div>
  
   <!--Excerpt-->
   <div class="col-md-9">
  
  <p class="dark-grey-text">
   <strong>Silicon Valley Education Foundation Board Member</strong>
   </p>
  
   <p class="grey-text">"Keith is passionate about Eduction and helping others succeed.  As a member of the Franklin McKinley Board of Education he worked to make sure kids were provided with the resources
    needed to succeed and worked tirelessly with the community to make sure our values were represented."-- Cora Tomalinas </p>
   <hr>
   </div>
   </div>
  
  </div>
   <!--/Small news-->
  
   <!--Small news-->
   <div class="single-news">
      <div class="row">
       <div class="col-md-3">
   <!--Image-->
  <div class="view overlay rounded z-depth-1 mb-2">
   <img src="../assets/images/brenden.jpg"
  class="img-fluid" alt="brenden stanton post image">
   <a>
   <div class="mask rgba-white-slight"></div>
  </a>
   </div>
   </div>
  
   <!--Excerpt-->
   <div class="col-md-9">
  
  <p class="dark-grey-text">
   <strong>Software Development Instructor</strong>
   </p>
  
   <p class="grey-text">"Duis aute irure dolor in reprehenderit in voluptate. Duis aute irure dolor in.Duis aute irure dolor in reprehenderit in voluptate. Duis aute irure dolor in" </p>
   <hr>
   </div>
  </div>
  
  </div>
   <!--/Small news-->
  
   <!--Small news-->
   <div class="single-news">
  
  
  <div class="row">
   <div class="col-md-3">
  
   <!--Image-->
  
  <div class="view overlay rounded z-depth-1 mb-2">
   <img src="../assets/images/Ingred.jpg"
  class="img-fluid" alt="Ingred post image">
   <a><div class="mask rgba-white-slight"></div>
    </a>
   </div>
   </div>
   <!--Excerpt-->
   <div class="col-md-9">
  
  <p class="dark-grey-text">
   <strong>Student Coding Dojo</strong>
   </p>
  
   <p class="grey-text">"Duis aute irure dolor in reprehenderit in voluptate. Duis aute irure dolor in.Duis aute irure dolor in reprehenderit in voluptate. Duis aute irure dolor in" </p>
   <hr>
   </div>
   </div>
  
  </div>
   <!--/Small news-->
   </div>
   <!--Grid column-->
  </div>
   <!--Grid row-->
  </section>
  <!--Section: Magazine v.2-->
<app-footer></app-footer>
